{{> header}}
<div id="container">

    <div id="product-1"
        class="bg-white
            rounded
            overflow-hidden
            shadow
            m-20
            ">

        <img class="w-full h-32 sm:h-48 0bject-cover" src="/images/png-clipart-minecraft-pattern-diamond-ore-teal-diamond-ore-thumbnail.png" alt="item 1">
        <div class="m-4">
            <span class="font-bold">Diamond</span>
            <span class="block text-grey-500 text-sm ">Miners travel deep depths to find this stone.</span>
        </div>
    </div>
    <div class="bg-white
            rounded
            overflow-hidden
            shadow
            m-20
            ">
        <img src="/images/getimage.png" alt="item 2">
        <div class="m-4">
            <span class="font-bold">Emerald</span>
            <span class="block text-gray-500 text-sm">This is the rarest stone.</span>
        </div>
    </div>
</div>


{{> contact }}

{{> footer }}

{{!-- src="/images/Products/product-1-Granite-stone.jpeg" --}}